* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

body{
  font-size: 13px;
  margin: 0 auto;
  width: 100%;
  min-width: 1080px;
  background-color: #fefefe;
}

header {
  padding:3.4vw;
  background-color:#131210;
  max-height: 1000px;
  height: 100%;
  background-image: url("../img/main_banner-soft-bg.png");
  background-size:contain;
  background-repeat: no-repeat;
}

.head ul {float: right;}

.head ul li {
  display: inline-block;
  padding-right: 90px;
  position: relative;
}

.head ul li:last-child {padding-right: 0px;}

.head ul li a {color: white;}

.head button {
  width: 124px;
  height: 55px;
  border-radius: 50px;
  color: #135ec5;
  cursor: pointer;
}

.head ul li:first-child::before {
  content: " ";
  width: 32px;
  height: 26px;
  position: absolute;
  top:0;
  left: -55px;
  display: inline-block;
  background: url("../img/Mail.png")no-repeat;
  padding-right: 20px;
}

.head ul li:nth-child(2)::before {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top:-5px;
  left: -55px;
  display: inline-block;
  background: url("../img/Phone.png")no-repeat;
  padding-right: 20px;
}

.mainimg img {
  width: 39%;
  height: 45%;
  margin-left: 32%;
  margin-top: 10%;
}

.mainimg h3:only-of-type {
  text-align: center;
  margin: 85px 2px 46px 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 4;
  color: #fff;
}

.mainimg form {margin-left: 15%;}

.mainimg input {
  width: 20%;
  opacity: 0.6;
  margin-right: 6%;
  border-bottom: 1px solid #3c3c3c;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-transform: capitalize;
  color: #3c3c3c;
  background-color: transparent;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 2.2;
}

.mainimg form button {
  width: 13%;
  height: 2.5vw;
  border-radius: 50px;
  background-color: #135ec5;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.maincontent h4 {
  text-align: center;
  color: #c5c5c5;
  line-height: 6;
  font-size: 15px;
}

.maincontent ul {
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #ebebeb;
}

.maincontent ul li {
  display: inline-block;
  width: 13.6%;
}

.maincontent ul li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-1 {
  font-size: 16px;
  margin-top: 5.1vw;
  margin-bottom: 4.5vw;
}

.container-1 .logo {
  background: url(../img/layerBMW.png) no-repeat top 30% left 40%;
  width: 48%;
  display: inline-block;
}

.container-1 .logo img {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  margin-right: 13.5em;
}

.container-1 .content {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-left: 3%;
}

.container-1 .content span {
  padding-bottom: 0.7em;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  color: rgba(19, 94, 197, 255);
  display: block;
}

.container-1 .content p {
  color: #c5c5c5;
  font-size: 16px;
}

.maincontent button {
  width: 214px;
  height: 55px;
  border-radius: 50px;
  background-color: #135ec5;
  color: white;
  text-transform: uppercase;
  margin-top: 3.7em;
  cursor: pointer;
}

.container-2 {
  height: 641px;
  background-color: #135ec5;
  margin-bottom: 259px;
}

.container-2 pre {
  text-align: center;
  font-size: 60px;
  color: rgba(255, 255, 255, 255);
  padding-top: 9rem;
  padding-bottom: 5.5rem;
}

.container-2 div button {
  margin: 0px;
  position: relative;
  left: 43%;
  border: solid;
}

.container-2::after {
  content: '';
  background: url(../img/PhotoBMW2.png);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 624px;
  height: 236px;
  margin-top: 145px;
}

.container-3 {
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 140px;
}

.mercedescontent-1 {
  display: inline-block;
  width: 27%;
  box-shadow: 0px 1px 8px 0px rgb(226 226 234 / 84%);
  margin-top: 3.5%;
}

.mercedescontent-1 div:only-of-type {
  width: 100%;
  height: 195px;
  background-color: #135ec4;
  background-image: url(../img/layermercedes-1.png);
  background-position: center;
  margin-bottom: 10em;
}

.mercedescontent-1 div button {
  float: right;
  width: 85px;
  height: 29px;
  border-radius: 50px;
  color: #135ec5;
  border: solid;
  cursor: pointer;
  margin-top: 28px;
  margin-right: 24px;
}

.mercedescontent-1 div:only-of-type::after {
  content: '';
  background: url(../img/mercedescontent-1.png) no-repeat center top 3.5vw;
  width: 100%;
  height: 116%;
  display: block;
  overflow: auto;
}

.mercedescontent-1 h4 {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 7px;
}

.mercedescontent-1 span {
  text-align: center;
  display: block;
  font-size: 14pt;
  color: rgba(19, 94, 197, 255);
  margin-bottom: 37px;
}

.mercedescontent-1 p {
  text-align: center;
  color: rgba(193, 193, 193, 255);
  font-size: 16pt;
  margin-bottom: 40px;
}

.mercedescontent-1 .btnbefore {
  float: right;
  width: 45%;
  height: 49px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  background-color: #e2e2e2;
  font-size: 16px;
  margin-right: 10%;
  margin-bottom: 45px;
}

.mercedescontent-1 .btnbefore::before {
  content: '15.000$';
  color: #16ad2c;
  font-size: 20px;
  float: left;
  margin-left: -90%;
}

.mercedescontent-2 div button {
  float: right;
  width: 85px;
  height: 29px;
  border-radius: 50px;
  color: #135ec5;
  border: solid;
  cursor: pointer;
  margin-top: 66px;
  margin-right: 53px;
}

.mercedescontent-2 {
  float: right;
  width: 58%;
  height: 43rem;
  overflow: hidden;
  box-shadow: 0px 1px 8px 0px rgb(226 226 234 / 84%);
  padding-left: 4em;
}

.mercedescontent-2 div:nth-child(2) img {
  margin-top: 14%;
  margin-left: -18%;
  max-width: 140%;
  max-height: 140%;
}

.mercedescontent-2 div:nth-child(1) {
  display: inline-block;
  margin-right: 2vw;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #16ad2c;
  width: 45.5%;
}

.mercedescontent-2 div:nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: #135ec4;
  float: right;
}

.mercedescontent-2 span:first-of-type {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.14;
  letter-spacing: normal;
  text-align: left;
  color: #e2e2e2;
}

.mercedescontent-2 div:nth-child(3) button {
  float: left;
  width: 214px;
  height: 55px;
  background-color: #135ec5;
  color: white;
  text-transform: uppercase;
}

.mercedescontent-2 span:last-of-type {float: right;}

.mercedescontent-2 h4 {
  font-size: 30px;
  color: rgba(19, 94, 197, 255);
  margin-top: 7vw;
}

.mercedescontent-2 p {
  margin-top: 1vw;
  font-size: 16px;
  color: rgba(193, 193, 193, 255);
}

footer {
  box-shadow: 0px 1px 8px 0px rgb(226 226 234 / 84%);
  margin-left: 15%;
  margin-right: 15%;
}

footer input {
  width: 19%;
  margin: 1.4vw;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: #ebebeb;
  font-weight: bold;
  font-size: calc(0.9rem);
  line-height: 3.6vw;
  outline: none;
  text-transform: capitalize;
}

footer input::placeholder {
  color: #ebebeb;
}

.input-1 input:nth-child(2)::placeholder {
  color: #3c3c3c;
}

.input-1 {padding-left: 3em;}

.input-2 {
  padding-left: 3em;
  margin-bottom: 3%;
}

.hideshow {
  width: 14%;
  height: 31px;
  margin-left: 41%;
  border-radius: 20px 20px 0px 0px;
  border: white;
  color: white;
  background-color: #135ec5;
}

.footcontent-1 {
  margin-top: 6em;
  border-top: 1px solid #ebebeb;
}

.footcontent-1 ul {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.footcontent-1 ul li {
  display: inline-block;
  width: 10.6%;
  padding-left: 3%;
}

.footcontent-1 ul li img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footcontent-2 {
  width: 100%;
  height: 33em;
  background-color: #135ec5;
}

.input-3 input {
  background-color: #135ec5;
  border-bottom: 1px solid #6d90d4;
}

.input-3 {
  padding-left: 3em;
  padding-top: 2em;
}

.input-4 input {
  background-color: #135ec5;
  border-bottom: 1px solid #6d90d4;
}

.input-4 {
  padding-left: 3em;
}

.input-3 input:not(input:nth-child(1))::placeholder {
  color: #6d90d4;
}

.input-4 input::placeholder {
  color: #6d90d4;
}

.footcontent-2 button {
  width: 17%;
  height: 14%;
  border-radius: 50px;
  color: #135ec5;
  margin-left: 40%;
  margin-top: 3%;
}